::-webkit-scrollbar {
  display: none;
}

.navbar-brand img {
  height: 60px; /* Adjust the height as needed */
  /* background-color: aliceblue; */
  width: auto;
}

#featuredProduct img{
  height: 300px;
}



.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.back-to-top.show {
  display: block;
}



.jumbotron {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/hero-background.jpg'); */
  background-image: linear-gradient(rgba(245, 238, 238, 0.144), rgba(0, 0, 0, 0.384));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 150px 0; */
  height: auto;
  color: black;
  max-width: none; /* Remove the default max-width constraint */
  padding: 0;
}
.jumbotron .col{
  padding: 0; /* Remove padding from the column */
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbotron img{
    display: block; /* Make sure the image takes up the full width */
    width: 45%; /* Set the image width to fill its container */
    /* opacity: 0.7; Desired opacity value */
    max-width: 100%; 
}

.login-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 100px;
}

.signup-container {
  max-width: 450px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 50px;
}

.otp-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 100px;
}
.email-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 100px;
}

.otp-verification-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 100px;
}